AIRFLOW_IMAGE_NAME=new-airflow:2.10.5
AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags/
AIRFLOW__CORE__TEST_CONNECTION=Enabled
AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=true
AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL=5
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session
AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
AIRFLOW_WWM_USER_CREATE=true
AIRFLOW_WWM_USER_USERNAME=airflow
AIRFLOW_WWM_USER_PASSWORD=airflow

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

MYDB_POSTGRES_USER=your_user
MYDB_POSTGRES_PASSWORD=your_password
MYDB_POSTGRES_DB=mydb

MINIO_ROOT_USER=your_minio_user
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_SERVER_URL=http://localhost:9000
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001

PGADMIN_EMAIL=admin@local.com
PGADMIN_PASSWORD=your_password

AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL=5
AIRFLOW__CORE__MIN_SERIALIZED_DAG_UPDATE_INTERVAL=5
AIRFLOW__CORE__MIN_SERIALIZED_DAG_FETCH_INTERVAL=5
AIRFLOW__WEBSERVER__DEFAULT_DAG_RUN_DISPLAY_NUMBER=25
AIRFLOW__WEBSERVER__SHOW_RECENT_STATS_FOR_COMPLETED_RUNS=True
